{%extends "base.html"%}
{%load pagination_tags%}

{%block title %} Create playlist - {{block.super}}{%endblock%}

{%block main_content%}


<section id="main">
<form action="" method="post">
<br/>
<br/>
<br/>
<br/>

            <nav>
			<ul>
               <li><a href="{% url playlist_create %}">Create Playlist</a></li>
				<li><a href="{% url playlist_viewedit %}">View/Edit playlist</a></li>
                <li><a href="{% url playlist_share %}">Share playlist</a></li>
                
            </ul>      
			</nav>
			
</form>			
</section>

{%endblock%}