{% extends "base.html" %}

{% block main_content %}
<section id="auth" class="clearfix">
    <h1>{% block heading %}{% endblock %}</h1>
    <div class="primary">
        <form action="" method="post">
            <div>
            {% if form.errors %}
            <p id="error">Please try again.</p>
            {% else %}
            <p>{% block hint_line %}{% endblock %}</p>
            {% endif %}
            </div>
            
            {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field.errors }}
                {{ field }}
            </div>
            {% endfor %}
            
            <div>
            <input name="next" type="hidden" value="{{ next }}"/>
            <input name="{% block id_field_name %}{% endblock %}" type="hidden" value="{{ form.instance.id }}"/>
            
            <input name="saveAndEdit" type="submit" value="Save and continue editting" class="button"/>
            <input name="saveAndAddMore" type="submit" value="Save and add another artist" class="button"/>
            <input name="save" type="submit" value="Save" class="button"/>
            <input name="cancel" type="submit" value="Cancel" class="button"/>
            </div>
        </form>
    </div>
</section>
{% endblock %}
