{% extends "base.html" %}
{% load pagination_tags %}

{% block title %}Browse - {{ block.super }}{% endblock %}

{% block main_content %}

<section id="main">
    <div class="intro-box">
        <h1>Welcome.</h1>

        <p class="intro">Joining music lover network has never been easier! Search our rich database of music resources or become member to create your own personal libraries and share them to the community.</p>
    </div>

    <div class="slider-wrapper">

        <div id="slider" class="nivoSlider">
            <img src="{{ MEDIA_URL }}images/slides/slide1.png" width="287" height="150" alt="" />
            <img src="{{ MEDIA_URL }}images/slides/slide2.png" width="287" height="150" alt="" />
            <img src="{{ MEDIA_URL }}images/slides/slide3.png" width="287" height="150" alt="" title="#htmlcaption"/>
        </div>

        <div id="htmlcaption" class="nivo-html-caption">
            <strong>An</strong> example of a <em>HTML</em> caption with <a href="#">a link</a>.
        </div>
    </div>
    
    <div class="row no-bottom-margin">
    </div>

</section>


<section id="portfolio">

    <h1>Latest Vinyl records</h1>
    
{% if records %}
    <ul class="folio-list clearfix">
        {% autopaginate records %}
        {% for record in records %}
            <li class="folio-thumb">
                <a href="{% url r_record record.id %}" title="View record {{ record.title }}" >
                    <div class="thumb">
                        <img src="{{ record.cover_art.url }}" width="190px" height="125px" alt="" />
                    </div>
                    <h3 class="entry-title">
                        {{ record.title }}
                    </h3>
                </a>
            </li>
        {% endfor %}
    </ul>
    {% paginate %}
{% else %}
    <p class="intro">There are no records listed.</p>
{% endif %}
</section>
{% endblock %}
