{% extends "base.html" %}

{% block title %}Record - {{ block.super }}{% endblock %}

{% block main_content %}

<section id="record">
    <div class="record">
        <h1>{{ record.title }}</h1>
        <div class="coverart">
            <a class="lightbox" href="{{ record.cover_art.url }}" title="{{ record.title }} Cover art" >
                <img src="{{ record.cover_art.url }}" width="230px" height="150px" alt="" />
            </a>
        </div>
        <div class="info">
            <p><strong>{{ record.title }}</strong></p>
            <p>
                Matrix number: {{ record.matrix_number }}<br />
                Format: {{ record.medium }}. {{ record.category }}<br />
                {% for f in featuring %}
                    {{ f.role }}:
                    
                    {% if f.artist.homepage %}
                        <a href="{{ f.artist.homepage }}" target="_blank" title="{{ f.artist.bio }}" >
                        {{ f.artist.name }}
                        </a>
                    {% else %}
                        {{ f.artist.name }}
                    {% endif %}
                    
                    <br />
                {% endfor %}
            </p>
        </div>
        <div class="row no-bottom-margin">
        </div>
</section>

<section id="record-soundtracks">
    <div>
        {% if tracks %}
        <table>
            <tr id="header">
                <td>Title</td>
                <td>Artists</td>
                <td>Style</td>
                <td>Rhythm</td>
                <td>Origin</td>
                <td>Label</td>
                <td>Release</td>
                <td>Duration</td>
            </tr>
            {% for s in tracks %}
            <tr id="{% cycle 'even' 'odd' %}">
                <td>{{ s.name }}</td>
                <td>{% if s.artist %} {{ s.artist.name }} {% endif %}</td>
                <td>{{ s.style_type.name }}</td>
                <td>{{ s.rhythm_type.name }}</td>
                <td>
                    {% if s.original_version %}
                    <a href="{{ s.original_version }}" target="_blank" title="{{ s.original_version }}">
                    Link
                    </a>
                    {% endif %}
                </td>
                <td>{{ s.label }}</td>
                <td>{{ s.release_date }}</td>
                <td>{{ s.duration }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p class="info">There are no soundtracks in this record.</p>
        {% endif %}
    </div>
</section>

{% if recommends %}
<section id="record-recommends">
    <h1>Records you might like</h1>
    <p>Similar records from our store that you might also like</p>
    
    <ul class="folio-list clearfix">
        {% for r in recommends %}
            <li class="folio-thumb">
                <a href="{% url r_record r.id %}" title="View record {{ r.title }}" >
                    <div class="thumb">
                        <img src="{{ r.cover_art.url }}" width="190px" height="125px" alt="" />
                    </div>
                    <h3 class="entry-title">
                        {{ r.title }}
                    </h3>
                </a>
            </li>
        {% endfor %}
    </ul>
</section>
{% endif %}

{% endblock %}
