{% extends "base.html" %}

{% block title %}About Us - {{ block.super }}{% endblock %}

{% block main_content %}
<h1>About Team and Project</h1>
<p><br /><br />
<p class="info">
<h2>About Team and Project</h2>
This project is a combined effort of the team members from Nantes and Lyon. The team members are
<ul>
<li><a href="mailto:phvu225@gmail.com">Vu Pham</a>
<li><a href="mailto:nooralahzadeh@gmail.com">Farhad Nooralahzadeh</a>
<li><a href="mailto:punyavee.napalai@gmail.com">Punyavee Napalai</a>
<li><a href="mailto:muhammad.ahsan@gmail.com">Muhammad Ahsan</a>
<li><a href="mailto:rosatsegaye@gmail.com">Roza Tsegaye</a>
</ul>
You can also find us on facebook @ <a href="https://www.facebook.com/groups/dmkm.adb/346213955398936/?notif_t=group_activity">DMKM Advanced Databases</a>,
or <a href="mailto:dmkm.adb@groups.facebook.com" title="dmkm.adb@groups.facebook.com">send an email</a>.

</p>
{% endblock %}
