{% extends "base.html" %}

{% block title %}Help - {{ block.super }}{% endblock %}

{% block main_content %}
<h1>Help</h1>
<p><br /><br /></p>
<p class="info">

<h2>Acknowledgement</h2>

Following third party tools and sources have been used in construction of this site.<br />

<ul>

<li>Django Pagination
<li>Python Imaging Library (PIL)
<li>Python Enterprise Application Kit (setup tools)
</ul>


<h4>Django Pagination</h4>
A set of utilities for creating robust pagination tools throughout a django application.</b>
<a href="http://code.google.com/p/django-pagination">>Project Home</a>
<h4>Python Imaging Library (PIL)</h4>	
The Python Imaging Library (PIL) adds image processing capabilities to your Python interpreter. This library supports many file formats, and provides powerful image processing and graphics capabilities.
<a href="http://www.pythonware.com/products/pil/">>Project Home</a>  
<h4>Python Enterprise Application Kit (setup tools)</h4>	
These Setuptools is a collection of enhancements to the Python distutils (for Python 2.3.5 and up on most platforms; 64-bit platforms require a minimum of Python 2.4) that allow you to more easily build and distribute Python packages, especially ones that have dependencies on other packages.
<a href="http://peak.telecommunity.com/DevCenter/setuptools">>Project Home</a> 
  
  

</p>
{% endblock %}
