{% extends "base.html" %}

{% block title %}Search - {{ block.super }}{% endblock %}

{% block main_content %}
<h1>About Team and Project</h1>
<p><br /><br />
<p class="info">
<h2>Search</h2>
This project is a combined effort of the team members from Nantes and Lyon. The team members are
<ul>
<li><a href="phvu225@gmail.com">Vu Pham</a>
<li><a href="nooralahzadeh@gmail.com">Farhad Nooralahzadeh</a>
<li><a href="punyavee.napalai@gmail.com">Punyavee Napalai</a>
<li><a href="muhammad.ahsan@gmail.com">Muhammad Ahsan</a>
<li><a href="rosatsegaye@gmail.com">Roza Tsegaye</a>
</ul>
You can also find us on facebook @ <a href="https://www.facebook.com/groups/dmkm.adb/346213955398936/?notif_t=group_activity">"DMKM Advanced Databases. "</a>
You can send a mail to us at <a>dmkm.adb@groups.facebook.com</a>

</p>
{% endblock %}
