{% extends "base.html" %}
{% block title %}Login - {{block.super}}{% endblock %}

{% block main_content %}
<section id="auth" class="clearfix">
    <h1>Login</h1>
    <div class="primary">
        <form action="{% url django.contrib.auth.views.login %}" method="post">
            <div>
            {% if form.errors %}
            <p id="error">The username and password is not correct. Please try again.</p>
            {% else %}
            <p>Login to personalize your libraries and share your collections.</p>
            {% endif %}
            </div>
            
            {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field.errors }}
                {{ field }}
            </div>
            {% endfor %}
            
            <div>
            <input type="submit" value="Login" class="button"/>
            <input type="hidden" name="next" value="{{ next }}" />
            </div>
            
            <div>
            <p id="hint"><a href="{% url auth_preset %}">Forgot your password?</a></p>
            <p id="hint">Do not have an account? <a href="{% url registration_register %}">Register for an account</a> has never been easier!</p>
            </div>
        </form>
    </div>
</section>
{% endblock %}