{% extends "base.html" %}

{% block title %}Password change - {{block.super}}{% endblock %}

{% block main_content %}
<section id="auth" class="clearfix">
    <h1>Reset password</h1>
    <div class="primary">
        <form action="" method="post">
            <div>
                <p>Please input your old and new password below.</p>
            </div>
            {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field.errors }}
                {{ field }}
            </div>
            {% endfor %}
            <div>
            <input type="submit" value="Change Password" class="button"/>
            <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </form>
    </div>
</section>
{% endblock %}


