{% extends "base.html" %}
{% block title %}Password_reset_confirm - {{block.super}}{% endblock %}

{% block main_content %}
{% if validlink %}
<section id="auth" class="clearfix">
    <h1>Password reset</h1>
    <div class="primary">
        <form action="" method="post">
            {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field.errors }}
                {{ field }}
            </div>
            {% endfor %}
          <div>
          <input type="submit" value="Reset password" class="button"/>
          </div>
        </form>
    </div>
</section>
{% else %}
    <section id="main">
    </section>
    <p>This link is broken. Back to the <a href="{% url index %}">homepage</a>.</p>
{% endif %}
{% endblock %}


