{% extends "base.html" %}

{% block title %}Password reset - {{block.super}}{% endblock %}

{% block main_content %}
<section id="auth" class="clearfix">
    <h1>Reset password</h1>
    <div class="primary">
        <form action="" method="post">
            <div>
                <p>Forgot your password? Please input your email below, we will send you an email with your password.</p>
            </div>
            {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field.errors }}
                {{ field }}
            </div>
            {% endfor %}
            <div>
            <input type="submit" value="Reset" class="button"/>
            </div>
            <div>
            <p id="hint">Haven't been a member? <a href="{% url registration_register %}">Register</a> now!</p>
            </div>
        </form>
    </div>
</section>
{% endblock %}

