{% extends "base.html" %}

{% block title %}Profile - {{user.username}}{% endblock %}

{% block main_content %}
<section id="main">
    <div class="intro-box">
        <h1>Hello, {{user.username}}</h1>

        <p class="intro">First name: {{user.first_name}}</p>
        <p class="intro">Last name: {{user.last_name}}</p>
        <p class="intro">Email: {{user.email}}</p>
    </div>
    <div class="row no-bottom-margin">
    </div>
    <div>
    <a href="{% url profile_edit %}">Edit your profile</a>
    </div>
</section>
{% endblock %}

