{% extends "base.html" %}

{% block title %}Profile - {{user.username}}{% endblock %}

{% block main_content %}
<section id="auth" class="clearfix">
<h1>Hello, {{user.username}}</h1>
<div class="primary">            
<form method="POST" action="">
    <div>
            <p>First name: {{user.first_name}}</p>
            <p>Last name: {{user.last_name}}</p>
            <p>Email: {{user.email}}</p>
            <p>{{user.user.biography}}</p>
    </div>
</form>
</div>

<div>
            <p id="hint"><a href="{% url profile_edit %}">Edit your profile</a></p>
</div>

</section>
{% endblock %}

