{% extends "base.html" %}

{% block title %}Signup - {{block.super}}{% endblock %}

{% block main_content %}
<section id="auth" class="clearfix">
    <h1>Register</h1>
    <div class="primary">
        <form action="" method="post">
            <div>
            {% if form.errors %}
            <p id="error">Please try again.</p>
            {% else %}
            <p>Become our member to light up your passion.</p>
            {% endif %}
            </div>
            
            {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field.errors }}
                {{ field }}
            </div>
            {% endfor %}
            
            <div>
            <input type="submit" value="Register" class="button"/>
            </div>
            
            <div>
            <p id="hint"><a href="{% url auth_preset %}">Forgot password?</a></p>
            <p id="hint">Already have an account? <a href="{% url auth_login %}">Login</a> now!</p>
            </div>
        </form>
    </div>
</section>
{% endblock %}
